@{
    ViewBag.Title = "Creador";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Héctor Castañeda</h3>

    <address>
        Grado: Ingeniería en sistemas UAM-I<br />
        Celular: 5544332211<br />
    </address>

    <address>
        <strong>Correo electrónico:</strong>   <a href="mailto:cualquierCorreo@Dominio.com">cualquierCorreo@Dominio.com</a><br />
    </address>
</main>