@{
    ViewBag.Title = "Home Page";
}

<main>
   
    <style>
        html, body {
            /*height: 100%;
            margin: 0;
            display: flex;*/
            
        }

        .contenedor {
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .imagen {
            width: 200px;
            height: auto;
        }
    </style>
    <div class="contenedor" style="align-content:center">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <img src="~/Imagenes/avatar.png" alt="Imagen" class="imagen" />
            <h2 id="gettingStartedTitle">@ViewBag.Candidato</h2>
            <p>
                <a class="btn btn-outline-primary" href="@Url.Action("Contact", "Home")">Continuar</a>
            </p>
        </section>
       
    </div>
</main>